.header{
    background-image: url(../img/wall.png);
}

.main{
    background-image: url(../img/cork.png);
}

.card{
    position: relative;
}

.pin{
    width: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
  font-family: "Sometype Mono", monospace;
  font-size: 100px;
 
}
.description{
    font-family: "Edu TAS Beginner";
}